.messenger {
    height: calc(100vh - 70px);
    display: flex;
  }
  
  .chatMenu {
    flex: 3.5;
  }

  .chat-header{
    padding: 10px 10px;
    margin: 10px 0px;
    position: sticky;
    top: 90px;
  }
  
  .chatMenuInput {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .chatBox {
    flex: 5.5;
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }


  
  .chatBoxTop {
    max-height: 50vh;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
  }
  
  .chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 90%;
  }
  
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
  
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    .chatOnline{
      flex: 1px;
    }
  }

  .MessengerBodyText{
    height: 100ch;
    overflow-y: scroll;
    background-color: #2C2C2C;
    border-left:1px solid rgb(134, 134, 134, 0.829) ;
    border-right:1px solid rgb(134, 134, 134, 0.829) ;
}

  .f-25{
    font-size: 25px;
  }

  .message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .messageTop{
      display: flex;
  }
  
  .messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .messageText{
      padding: 10px;
      color: #FFFFFF;
    opacity: 1;
    background: transparent linear-gradient(290deg, #00A791 0%, #00E479 100%) 0% 0% no-repeat padding-box;
    border-radius: 3px;
      max-width: 300px;
  }
  
  .messageBottom{
      font-size: 12px;
      margin-top: 10px;
  }
  
  .message.own{
      align-items: flex-end;
  }
  
  .message.own .messageText{
    color: #FFFFFF;
    opacity: 1;
    background: transparent linear-gradient(110deg, #FE00F4 0%, #5025FE 100%) 0% 0% no-repeat padding-box;
    border-radius: 3px;
  }

  .textColLeft{
    font: var(--unnamed-font-style-normal) normal medium 20px/30px var(--unnamed-font-family-poppins);
    text-align: left;
    font: normal normal medium 20px/30px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: transparent linear-gradient(290deg, #00A791 0%, #00E479 100%) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    /* width: 100%; */
    margin-right: auto !important;

}

.textColRight{
    font: var(--unnamed-font-style-normal) normal medium 20px/30px var(--unnamed-font-family-poppins);
    text-align: left;
    font: normal normal medium 20px/30px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: transparent linear-gradient(110deg, #FE00F4 0%, #5025FE 100%) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    /* width: 100%; */
    margin-left: auto !important;

}
  