.nav-pills .NavColorFan,
.nav-pills .show > .NavAudition {
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #5f5f5f;
}
.round1 .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: rgb(0, 0, 0);
    background: linear-gradient(180deg, #DAAF33 0%, #FFFA98 51.04%, #D9AE33 100%) !important;
  }
  .round1 .nav-pills .nav-link, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #5f5f5f;
  }
.nav-pills .NavColorFan.active,
.nav-pills .show > .NavAudition {
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  background: transparent
    linear-gradient(115deg, #faed89 0%, #ffc000 69%, #ffc633 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}
.roundCard1{
   background-color: #1C1C1C !important; 
   border: 2px solid gold !important;
}