/* .container {
    position: relative;
    text-align: center;
    color: white;
  } */


  .FollowingCatBG {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 110px;
    overflow: hidden;
    background-image: linear-gradient(
        rgba(5, 5, 5, 0), 
        rgba(10, 10, 10, 0.897), 
        rgba(0, 0, 0, 0.966));

  }

  .FollowingCatText {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: white;
    font-size: 16px;
    background-color: none !important;
    padding-bottom: 6px;
  }

  .FollowingCat {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    background-color: none !important;
  }
  .FollowingCat:hover {
    border: 1px solid rgb(255, 188, 4);
    color: rgb(255, 188, 4);
  }
.ImgFollowView{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border: 1px solid gold;
    border-radius: 3px;
}

.SuggestedCat{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.DotsCAt .owl-dots .owl-dot span {
   
    display: None !important;
}

.owl-theme .owl-dots {
   display: none !important;
}

.DotsCAt .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: center;
}

.DotsCAt .owl-item{
    width: 180px !important;
}


@media only screen and (min-width: 1025px) and (max-width: 1400px){
    .ImgFollowView{
        width: 100%;
        height: 155px;
        border: 1px solid gold;
        border-radius: 3px;
    }
    
  .FollowingCatBG {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 120px;
    overflow: hidden;
    background-image: linear-gradient(
        rgba(5, 5, 5, 0), 
        rgba(10, 10, 10, 0.897), 
        rgba(0, 0, 0, 0.966));

  }



  .FollowingCatText{
    font-size: 12px;
  }

  }


.CR7Scroll{
  overflow-y: auto;
  height: 46vh;
}

.CR7Scroll::-webkit-scrollbar {
  display: none;
}
.inputBgSA{
  background-color: gray;
  float: left !important;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding-left: 15px !important;
}

.inputBgSA::placeholder{
  color: white;
  

}

.ConfirmS{
  margin-right: 20px;
  background: #5B677A 0% 0% no-repeat padding-box;
}
.Acquire{
  background: transparent linear-gradient(180deg, #FFFF00 0%, #E8B100 100%) 0% 0% no-repeat padding-box;
}


