.settingsBody{
    margin-top: 15px;
    background-color: #343434;
    border-radius: 10px;
    width: 100%;
   
}
.settingsTitle{
    border-color: #FFAD00;
    border-width: 3;
    font-size: 25px;
    color: #FFAD00;
    border-radius: 10px;
}
.settingInnerBody{
    flex-direction: column;
    justify-content:space-between;
}
.leftSettingsBody{
    height: auto;
    margin-left: 2;
}

.rightSettings{
    height: auto;
}
.SettingsItemName{
    font-size: 20;
}
.leftInnersettingsBody{
    font-size: 20px;
    color: #edeff2;
}

.form-label{
    color: aliceblue;
    padding: 2px;
    margin-right: 15px;
}
.settingPersonalText{
    font-size: 20px;
}
.settingPersonalInputField{
    margin-left: 35px;
    
}


/* Starting Educational pages css */
.EducationalMainBody{
    margin-bottom: 200px;
}
.PasswordField{
    border-radius: 10px;
    height: 46px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 200px;
    color: black;
    margin-left: 8px;
}
.educationalButtonSave{
    border-radius: 10px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    width: 200px;
    color: white;
    margin-top: -3px;
}

/* Interest Paqge CSS */
.mobileSecurityMainDiv{
    margin-top: 40px;
}
.emailSecurityMainDiv{
    margin-top: 40px;
}
.passwordSecurityMainDiv{
    margin-top: 40px;
}
.interestMainForm{
    color: white;
    margin: 50px;
    font-size: 20px;
}



/* Security Page CSS */
.securityInnerHeading{
    color: white;
    margin-top: 20px;
}
.SecurityPurpose{
    margin: 15px;
}
.Security2Step{
    border-radius: 10px;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    width: 300px;
    color: black;
    margin-left: 8px;
}

.SecurityPlaceholder{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-color: #FFAD00;
    border-width: 3px;
    padding: 10px;
}
.SecurityPlaceholder::placeholder{
    color: black !important;
    font-size: 30px;
    text-align: center;
}
.securitySubmitBtn{
    border-radius: 10px;
    max-height: 40px;
    margin-right: -100px;
}
.securitySaveDiv{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.securityButtonSave{
    border-radius: 10px;
    height: 43px;
    text-align: center;
    font-size: 20px;
    width: 100%;
    color: white;
    margin-top: -3px;
}