.mt-Scroll{
    margin-left: 50px;
}
.Post-Scroll-S{
    
    margin-left: 50px;

}
.Post-Scroll
{
    max-height: 1400px;
    overflow-y: scroll;
}

.Post-Scroll::-webkit-scrollbar {
  width: 0px;
  background: none;
}
.Post-Scroll::-webkit-scrollbar-thumb {
  background: none; 
}
.PostImgHome{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.PostCard{
    height: 0 auto;
}
.PostImgHe{
    height: 255px;
    width: 90%;
}
.PostImgHome{
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
.Post-small-text{
    color: white;
}
.Post-small-text-r{
    color: white;
    margin-left: 5px;
}

.Post-Title-home{
    color: white;
   padding-top: 10px;
    font-size: 13px;
}
.PostBack{
    background-color: #343434;
    border: none;
    margin-bottom: 2px;
    height: 50px;
    margin-top: 5px;
}
.PostHoUl{
    list-style: none;
}

 .like-post  {
    display: inline;
    margin-left: -40px;
}
.comment-post {
    display: inline;
    float: right;
    margin-right: 20px;
}
.share-post {
    display: inline;
    float: right;
}
.btn-warning-post{
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 110px ;
    height: 30px;
    border:none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media only screen and (max-width: 510px) {
    .Post-Scroll-S{
        margin-left: 0px;
    }
    .Post-Scroll
    {   
        margin-left: 1px;
        
    }
    .PostCard{
        height: 0 auto;
    }
    .PostImgHe{
        height: 230px;
        width: 90%;
    }
        
    .card {
        word-wrap: none;
    }
    .like-post  {
        margin-left: -45px;
    }
    .btn-warning-post{
        color: #000;
        font-size: 13px;
        background-color: #ffc107;
        border-color: #ffc107;
        width: 90px ;
        height: 30px;
        border:none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
  
  }

  @media only screen and (max-width: 510px) {
    .PostImgHe{
        height: 185px;
        width: 90%;
    }
  
  }