.PostImgHome{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.PostCard{
    border: none;
    background-color: #343434 !important;
}
.PostCard img{
    height: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    padding-bottom: 8px;
}

.Post-small-text{
    color: white;
    font-size: 10px !important;
}
.Post-small-text-r{
    color: white;
    margin-left: 5px;
    font-size: 10px !important;
}

.Post-Title-home{
    color: white;
   padding-top: 10px;
    font-size: 13px;
}

.link-starPorfile{
    list-style: none;
    text-decoration: none;
    color: white;
}
.link-starPorfile:hover{
    list-style: none;
    text-decoration: none;
    color: rgb(243, 161, 9);
}

.PostBack{
    background-color: #343434;
    border: none;
    margin-bottom: 2px;
    height: 50px;
    margin-top: 5px;
}

.PostHoUl{
    list-style: none;
}

 .like-post  {
    display: inline;
    margin-left: -40px;
}
.comment-post {
    display: inline;
    float: right;
    margin-right: 20px;
}
.share-post {
    display: inline;
    float: right;
}
.btn-warning-post{
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 110px ;
    height: 30px;
    border:none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.comment-bg-post{
    background-color: #343434;
}
.comment-text-post{
    background-color: #555454;
    border-radius: 20px;
    width: 35.2vw;
    font-size: 15px;
    color: white;
    height: auto;
    border: 1px solid rgb(80, 80, 79) !important;
    box-shadow: #000 ;
    padding-left: 10px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

}
.comment-text-post-x{
    background-color: #555454;
    border-radius: 20px;
    width: 31.4vw;
    font-size: 15px;
    color: white;
    height: auto;
    border: 1px solid rgb(80, 80, 79) !important;
    box-shadow: #000 ;
    padding-left: 10px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.comment-text-post-sub{
    background-color: #ece5c3;
    border-radius: 5px;
    height: auto;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    box-shadow: #000 ;
    padding-left: 10px !important;
    margin-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.comment-text-post:focus {
    outline: none;

    
}
.comment-text-post-x:focus {
    outline: none;

    
}

.coment-area {
    display: inline-block;
    margin-top: 10px;
    width: 90%;
}

.we-comet {
    float: left;
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin-left: 24px;
    margin-right: 18px;
}

.we-comet > li {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.we-comet > li:last-child {
    margin-bottom: 0;
}

.comet-avatar {
    display: table-cell;
    max-width: 7.6%;
    vertical-align: top;
    width: 7.6%;
}

.we-comment {
    display: table-cell;
    margin-left: 20px;
    padding: 10px;
    vertical-align: top;
    background-color: rgb(65, 65, 65);
    position: relative;
    border-radius: 20px;
    width: 65%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.we-comment::before,
.peoples-mesg-box > ul > li p:before {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    left: -11px;
    top: 10px;
    position: absolute;
    content: '';
}

.we-comment::after,
.peoples-mesg-box > ul > li p:after {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    left: -9px;
    top: 12px;
    position: absolute;
    content: '';
}

.we-comet > li ul {
    margin-left: 55px;
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}

.we-comet > li ul li {
    margin-bottom: 20px;
}

.we-comet li a.showmore {
    display: table;
    font-size: 12px;
    margin: 0 auto;
    text-transform: capitalize;
    font-weight: 500;
}

.we-comet > li ul li:last-child {
    margin-bottom: 0;
}
.com-name-po{
    color: white;
    z-index: -1;
}
.com-post-img-head{
    width: 35px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.com-post-img{
    width: 25px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.coment-head {
    display: inline-block;
    width: 100%;

}

.coment-head > p {
    font-size: 13.5px;
    font-weight: 500;
    padding-bottom: -15px;
    text-transform: capitalize;
    margin-bottom: -10px;
    display: inline-block;
    color: #2a2a2a;
}

.we-comment > p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
    max-width: 100%;
    margin-top: 5px;
}

.we-reply {
    text-transform: capitalize;
    font-size: 13px;
    display: inline-block;
    margin-left: 10px;
     font-size: 13px;
}

.we-reply-button-x{
    background: none;
    margin-left: 50px;
    border: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.541);

}

.we-reply-button{
    background: none;
    border: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.541);

}

.coment-head > span {
    color: #999;
    font-size: 12px;
    padding-left: 10px;
    display: inline-block;
}

li.post-comment .comet-avatar {
    display: inline-block;
    vertical-align: top;
}

.post-comt-box {
    display: inline-block;
    padding-left: 15px;
    position: relative;
    width: 93%;
}

.post-comt-box form textarea {
    background: #f3f3f3 none repeat scroll 0 0;
    border-color: transparent;
    border-radius: 3px;
    color: #696969;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 16px;
}

.add-smiles {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    line-height: 10px;
}

.add-smiles > span {
    font-size: 12px;
    cursor: pointer;
}

.smiles-bunch {
    background: #eaeaea none repeat scroll 0 0;
    border-radius: 5px;
    top: -63px;
    font-size: 13px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 150px;
    display: none;
}

.smiles-bunch.active {
    display: block;
}

.smiles-bunch > i {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 4px;
}

.smiles-bunch::before {
    border-top: 7px solid #eaeaea;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    position: absolute;
    right: 11px;
    bottom: -7px;
    width: auto;
}

.smiles-bunch > i:hover {
    transform: scale(1.1);
}

.post-comt-box form button {
    bottom: 2px;
    position: absolute;
    right: 0;
    background: none;
}



.learningImg {
    filter: blur(3px);
  }
  
  .learningLockPremiumImg {
      position: absolute;
      margin-top: 80px  !important;
  }
  
  .img-resize-LearnContent {
    width: 50% !important ;
  }
  
  @media only screen and (max-width: 768px) {
    .img-resize-LearnContent {
      width: 120px;
      margin-top: 80px;
    }

    .learningLockPremiumImg {
        position: absolute;
        margin-top: -100px  !important;
    }
    
    .img-resize-LearnContent {
      width: 50% !important ;
    }
  }
  
  
  
  .leftSideNotification.dropdown-menu.show {
    display: block;
    background: #000000;
    border: 1px solid #e4d759;
    border-radius: 10px;
  }

  .leftSideNotification.dropdown-menu.show li {
    color: white ;
    background-color: black;
    font-size: 15px;
  }

  .leftSideNotification.dropdown-menu.show li:hover {
    color: gold;
    background-color: black;
  }
  
  .turnNotification {
    border-bottom: 1px solid #1f1f1f;
  }
  
  

  
  .leftSideNotification {
    left: -150px !important;
  }
  
  @media only screen and (max-width: 768px) {
    .leftSideNotification {
      left: -10px !important;
      
    }
    
  }
  
  .buttonBorderNone .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0em solid !important;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  
  .buttonBorderNone .btn-secondary {
    color: #fff;
    background: none;
    border: none;
  }
@media only screen and (max-width: 510px) {
 
    .PostImgHe{
        height: 230px;
        width: 90%;
    }
        
    .card {
        word-wrap: none;
    }
    .like-post  {
        margin-left: -45px;
    }
    .btn-warning-post{
        color: #000;
        font-size: 13px;
        background-color: #ffc107;
        border-color: #ffc107;
        width: 50px ;
        height: 30px;
        border:none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .comment-text-post{
        width: 62vw !important;
    
    }
    .comment-text-post-x{
        width: 60vw !important;
    }
   
  
  }

  @media only screen and (max-width:1100px) {
    .comment-text-post{
        width:24vw ;
    }
    .comment-text-post-x{
        width:23.5vw ;
    }

    .learningLockPremiumImg {
        position: absolute;
        margin-top: -50px  !important;
    }
    
    .img-resize-LearnContent {
      width: 50% !important ;
    }

}
@media only screen and (max-width:800px) {
   

    .learningLockPremiumImg {
        position: absolute;
        margin-top: -100px  !important;
    }
    
    .img-resize-LearnContent {
      width: 50% !important ;
    }

}



  @media only screen and (width: 600px) {
    .PostImgHe{
        height: 185px;
        width: 90%;
    }
    .btn-warning-post {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 70px ;
    height: 30px;
    border: none;
    text-align: left;
    }
  
  }
  @media only screen and (max-width: 768px) {
      .Postbtn-t {
          width:100%;
      }
    .btn-warning-post {
        color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 87px;
    height: 30px;
    border: none;
    }
  
  }
  @media only screen and (width:1400px) {
    .Postbtn-t {
        width:100%;
    }
  .btn-warning-post {
      color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
  width: 101px !important;
  height: 30px;
  border: none;
  }

}




