.navSetting{
    background-color: rgb(90, 92, 92);
    border: 1px solid goldenrod;
    border-radius: 5px;
}


.NameSe{
    text-align: left !important;
}


.ButtonSe{
    justify-content: center;
    margin-right:8vw;
}

.ButtonSE{
    border: 1px solid goldenrod;
    color: aliceblue;
    float:  ri;

}

.ButtonSE:hover{
    border: 1px solid goldenrod;
    color: black;
    background-color: goldenrod;
}

.NavBtn{
    font-size: larger !important;
}