@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap");

.img-bg {
  background-image: url("../../../../../../images/auditionWithStar/thirdBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.imageWidth {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.imageWidthTwo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.guitarBorder {
  border-bottom: 1px solid gold;
  background-color: #1b1b1b;
}

.listStyle {
  list-style: none;
}

.guitarBorder {
  border: 1px solid gold;
  border-radius: 10px;
}

.guitarBorderGold {
  border-bottom: 1px solid gold;
}

.registrationDate {
  position: absolute;
  top: 40%;
  left: 30%;
  background-image: url("../../../../../../images/regiDateBg.png");
  background-size: cover;
  border-radius: 10px;
}

.registrationDateVideo {
  position: absolute;
  bottom: 3%;
  left: 40%;
  background-image: url("../../../../../../images/regiDateBg.png");
  background-size: cover;
  border-radius: 10px;
}

.audioBanner {
  border: 1px solid #0de1e1;
  border-radius: 10px;
}

.videoBanner {
  border: 2px solid gold;
  border-radius: 10px;
  overflow: hidden;
}

.photoRelative {
  position: relative;
}

.withText {
  font-size: 35px;
  font-family: "Bilbo Swash Caps", cursive;
}

.img-bgImg {
  background: linear-gradient(270deg, #490163 0%, #ffad00 100%);
}

.formLiner {
  background: linear-gradient(270deg, #4a0263 0.08%, #502245 99.92%);
  border: 1px solid #ffad00;
}

.inputColorBorder {
  border: 1px solid #ff0 !important;
  background-color: #232222;
}

.registerBtn {
  background: linear-gradient(
    270deg,
    #ffad00 0%,
    #ffd273 18.7%,
    #e19a04 42.13%,
    #facf75 68.82%,
    #e7a725 85.94%,
    #ffad00 100%
  );
  width: 522px;
  height: 69px;
  border-radius: 12px;
  font-size: 25px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .registrationDate {
    font-size: 10px;
    top: 35%;
    left: 25%;
  }
  .registrationDateVideo{
    font-size: 10px;
    left: 25%;
  }
  .withText {
    font-size: 15px;
  }
  .imageWidth {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .imageWidthTwo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .registerBtn {
    width: 200px;
    font-size: 20px;
    height: 40px;
  }
}
