
.right-col-box-home-r{
    background-color: #343434;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.live-text-sln{
    color: #F0E25E;
    padding: 5px;
    padding-top: 8px;
}

.Live-S-Nav{
    position: relative;
}
.Live-RS-img{
    width: 100px;
    height: 75px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.Live-RS-Name{
    font-size: 12px;
    color: white;
    margin-left: 5px;
    margin-bottom: ;
}
@media only screen and (max-width: 768px) {
    .Live-RS-img{
        width: 80%;
        height: 82px;

    }
  }
.Live-RS-btn{
    border: none;
    margin-top: 6px;
    padding: 5px;
    margin-right: 10px;
    width: 65px;
    height: 69px;
    padding: 5px;
    background-color: #494949;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.see-all-live{
    font-size: 10px;
    color: white;
}
.see-all-live-ico {
    font-size: 15px;
    color: white;
}

.Live-RS-ico{
    text-align: center;
    font-size: 20px;
    background-color: white;
    margin-bottom: 10px;  
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


  
  /* Bottom right text */
  .live-text-block-l {
    width: 100px;
    margin-left: 5px;
    height: 20px;
    position: absolute;
    bottom: 15px;
    border-radius:0px 0px 10px 0px ;
    background-color: rgba(0, 0, 0, 0.768);
}
  .live-text-block-l p{
      font-size: 10px;
      padding-top: 3px;
      text-align: center;
      color: white;
  }
 
    /* Bottom right text */
    .live-text-block-r {
        width: 100px;
        margin-left: 5px;
        height: 20px;
        left: 110px;
        position: absolute;
        bottom: 15px;
        border-radius:0px 0px 10px 0px ;
        background-color: rgba(0, 0, 0, 0.768);
    }
    .live-text-block-r p{
        font-size: 10px;
        padding-top: 3px;
        text-align: center;
        color: white;
    }

    @media only screen and (max-width: 900px) {
        .right-col-box-home {
          width: 100%;
        }
        .live-text-block-l p{
            width: 100%;
        }
      }