


.Active-Img-X{
    width: 100%;
    height: 300px;
    object-fit:cover;
    border-radius: 10px;
}


.centered-x-ac {
    position: absolute;
    top: 82%;
}


.Pic-Bg{
    background: rgba(248, 232, 0, 0.212);
    border-radius: 5px;
}
.Pic-icon_x{
    width: 18px;
}
.Pic_Ic_text{
    font-size: 10px;
    color: #ED9B52;
}




.container-x-ac {
    position: relative;
    text-align: center;
    color: white;
    border: 1px solid #FFBB2B !important;
    border-radius: 10px;
}

  .bottom-left-Activities {
    position: absolute;
    bottom: 8px;
    left: 40%;
  }
  

  