.core-category-btn {
    font-weight: bolder;
    width: 200px;
    font-size: 25px;
}



.category-contaienr {
    border: 3px solid yellow;
    border-radius: 20px;
}

.cg-done {
    width: 200px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFAD00;
}

.main-container {
    background-image: url(../../../images/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}


.frame {
    width: 310px;
    height: 53px;
}
.frame2 {
    width: 80%;
    height: 53px;
}

.center-frame {
    position: relative;
    text-align: center;
}

.category-title {
    position: absolute;
    text-align: center;
    color: #F0E25E;
    font-weight: bold;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.star-container{
    width: 80%;
 
}
@media only screen and (max-width: 768px) {
    .star-btn{
        width: 90px !important;
        height: 30px !important;
        font-size: 8px;
        margin: 0 !important;
    }
  }
.carousel-bg{
    height: 100px;
}
.star-btn{
    width: 170px;
    height: 47px;
   
    font-weight: bolder;
}
.owl-item > div {
    cursor: pointer;
    margin: 6% 15%;
    transition: margin 0.4s ease;
    
  }
  .owl-item.center > div {
    cursor: auto;
    margin: 0;
  }
  .owl-item:not(.center) > div:hover {
    opacity: .75;
  }


  #id_work_days input[type="checkbox"] {
    display: none;
  }

  .category-core{
    opacity: 0.6 !important;
  }

  #id_work_days input[type="checkbox"]:checked + span {
    border: 5px solid #fff;
    color: black;
    opacity: 1 !important;
  }

  

  #id_work_days input[type="checkbox"]:checked + .category-core {
    opacity: 1 !important;
  }

  #id_work_days input[type="checkbox"]:checked + h4 {
    border: 5px solid #fff;
    color: black;
  }

  #id_work_days span {
    border-radius: 3px;
    color: rgb(27, 26, 26);
  }
  .star-choosing{
    border: 2px solid #EDDF5D;
border-radius: 4px;
padding:5px 10px 5px 10px;
color: #EDDF5D;
font-weight: bold;
font-size: 20px;
  }

  .sub-btn{
    background-color: rgb(233, 233, 10);
      }
      .sub-btn:focus{
    border: 2px solid black !important;
    background-color:#FFAD00;
      }


      /* Subcategory items buttons style */

      #id_work_days2 input[type="checkbox"] {
        display: none;
      }
    
      #id_work_days2 input[type="checkbox"]:checked + .low + span{
        border:  3px solid gold;
        width: 35px;
        border-radius: 50%;
        color: black;
        
      }
    
      #id_work_days2 input[type="checkbox"]:checked + .low {
          opacity: 1!important;
      }

    
      #id_work_days2 span {
        /* border-radius: 3px;
         */
         height: 30px;
        width: 30px;
        border-radius: 50%;
  
      }
      .dot1 {
        height: 35px !important;
        width: 35px !important;
        background-color: #5270EE;
        border-radius: 50%;
        display: inline-block;
        position:absolute;
       top: 95%;
       left: 48%;
       transform:translate(-50%, -50%);
        font-size:13px;
      }




   .low{
     opacity: 0.5;
     cursor: pointer;
     
   }
   .adjust{
     position: relative;
   }




  /* Star Selection */

  #id_work_days3 input[type="checkbox"] {
    display: none;
  }

  #id_work_days3 input[type="checkbox"]:checked + .low + span{
    border:  3px solid gold;
    width: 35px;
    border-radius: 50%;
    color: black;
    
  }

  #id_work_days3 input[type="checkbox"]:checked + .low {
      opacity: 1!important;
  }


  #id_work_days3 span {
    /* border-radius: 3px;
     */
     height: 30px;
    width: 30px;
    border-radius: 50%;

  }
  




   @media only screen and (max-width: 600px) {
    .dot1 {
      height: 15px !important;
      width: 15px !important;
      background-color: #5270EE;
      border-radius: 50%;
      display: inline-block;
      position:absolute;
     top: 95%;
     left: 48%;
     transform:translate(-50%, -50%);


    }
  }