.congo-bg-image {
  background-image: url("../../../../../../../../images/bg-img.jpeg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  object-fit: cover !important;
  /* height: 0vh !important; */
}

.congratulationModal {
  /* width: 60vw; */
  /* max-width: none !important; */
}

.congoNotificationDrop {
  width: 2rem;
  background-color: goldenrod;
  border-radius: 50%;
  font-weight: 800;
  color: black;
}
