.minimum-height{
    min-height: 90vh;
}

.reactPlayer-style{
    height: '678px';
    width: '678px'
}

@media only screen and (max-width: 768px){
    .reactPlayer-style{
        height: '200px';
    }
}

