.minimum-height{
    min-height: 90vh;
}

.reactPlayer-style{
    height: '678px',
    /* width: '', */
}

@media only screen and (max-width: 768px){
    .reactPlayer-style{
        height: '300px';
        /* width: '500px' */
    }
}

