.greeting ::placeholder {
  color: white !important;
  font-size: 15px !important;
}

.upperSideNotification.dropdown-menu.show {
  display: block;
  background: #000000;
  border: 1px solid #e4d759;
  border-radius: 10px;
  top: -280px !important;
  left: -220px !important;
  width: 16vw !important;
  height: 22vh !important;
}

.upperSideNotification.dropdown-menu.show li {
  color: #ffffff;
  background-color: black;
  font-size: 15px;
  list-style: none;
}

.upperSideNotification.dropdown-menu.show li:hover {
  color: gold;
  background-color: black;
}

.MuiOutlinedInput-root {
  color: #fcca2c !important;
  border: #fcca2c 1px solid;
}

label {
  background-color: #343434;
  color: #ffffff !important;
  padding: 0px 10px !important;
}

.MuiOutlinedInput-root .MuiSvgIcon-root {
  color: #000000;
  background-color: #fcca2c;
  border-radius: 100%;
  padding: 2px;
}

.MuiSvgIcon-root:hover {
  color: #000000;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 2px;
}
