.Carosuel-mp{
    margin-left: 50px;
    margin-top:15px;
}

.MP-carosuel{
    width: 100%;
    height: 190px;
    border-radius: 10px;

}

@media only screen and (max-width: 768px) {
    .Carosuel-mp{
        margin-left: 0px;
    }
    .MP-carosuel{
        height: 150px;
    
    }
  }

  @media only screen and (min-width: 770px) {
    .Carosuel-mp{
        margin-left: 39px;
    }
  }
  @media only screen and (min-width: 1100px) {
    .Carosuel-mp{
        margin-left: 50px;
    }
  }