.StartCover{
    height: 25vh;
    width: 100%;
    object-fit: cover;
    border: 1px solid goldenrod;
    border-radius: 5px;
}

.TitleFan{
    font-size: larger;
}
.subTitleFan{
    font-size: smaller;
    color: rgba(240, 248, 255, 0.726);
}
.nav-pills .NavColorFan, .nav-pills .show>.NavColorFan {
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #343434;
}
.nav-pills .NavColorFan.active, .nav-pills .show>.NavColorFan {
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    background: transparent linear-gradient(115deg, #FAED89 0%, #FFC000 69%, #FFC633 100%) 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}

.FanNave{
    width: 100%;
}


.SelectFan{
    width: 20vw;
}

.MobileFabNave{
    position: sticky;
    top: 81px;
    overflow: hidden;
    z-index: 1;
    background-color: black;
}

.MediaCard{
    width: 13.3vw;
}



/* Creat Post */
.FanCreatePost{
    background: #212121 0% 0% no-repeat padding-box;
    border: 1px solid #525252;
    border-radius: 5px;
    opacity: 1;
    
}

.CreateInputFan{
    background: #4D4D4D 0% 0% no-repeat padding-box;
    border: 1px solid #757575;
    border-radius: 34px;
    color: #b4afaf;
    opacity: 1;
    width: 85%;
    text-align: left;
}
.desktopFan{
    display: block;
}
.mobileFan{
    display: none;
}

@media only screen and (max-width: 600px) {
    
    .nav-pills .NavColorFan, .nav-pills .show>.NavColorFan {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
    .nav-pills .NavColorFan.active, .nav-pills .show>.NavColorFan {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        
    }
    
    .mobileFan{
        display: block;
        width: 100%;
        margin-top: 15px;
    }
    .desktopFan{
        display: none;
    }

    .FanPromo{
        display: none;
    }

   .FanCreatePost{
        padding-left: 2px !important;
    }
    
    .CreateSm{
      font-size: small;
      padding: 0px auto;
        
    }

    .CreateInputFan{
        text-align: left;
        font-size: small;
        width: 67%;
    }

}


@media only screen and (max-width: 1400px) {
    
    .nav-pills .NavColorFan, .nav-pills .show>.NavColorFan {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .nav-pills .NavColorFan.active, .nav-pills .show>.NavColorFan {
        padding-left: 1rem;
        padding-right: 1rem;
        
    }

    .CreateSm{
        font-size: small;
        padding: 0px auto;
          
      }
  
      .CreateInputFan{
          text-align: left;
          font-size: small;
          width: 80%;
      }


    

}