.StartCover{
    height: 25vh;
    width: 100%;
    object-fit: cover;
    border: 1px solid goldenrod;
    border-radius: 5px;
}

.TitleFan{
    font-size: larger;
}
.subTitleFan{
    font-size: smaller;
    color: rgba(240, 248, 255, 0.726);
}
.nav-pills .NavColorFan, .nav-pills .show>.NavColorFan {
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #343434;
}
.nav-pills .NavColorFan.active, .nav-pills .show>.NavColorFan {
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    background: transparent linear-gradient(115deg, #FAED89 0%, #FFC000 69%, #FFC633 100%) 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}

.FanNave{
    width: 100%;
}


.SelectFanDefault{
    width: 20vw;
    background: transparent linear-gradient(107deg, #FAEC85 0%, #F9C02B 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #D6B900;
    border-radius: 2px;
    opacity: 1;
}


/* 
.MobileFabNave{
    position: sticky;
    top: 81px;
    overflow: hidden;
    z-index: 1;
    background-color: black;
} */

.MediaCard{
    width: 13.3vw;
}



/* Creat Post */
.FanCreatePost{
    background: #212121 0% 0% no-repeat padding-box;
    border: 1px solid #525252;
    border-radius: 5px;
    opacity: 1;
    
}

.CreateInputFan{
    background: #4D4D4D 0% 0% no-repeat padding-box;
    border: 1px solid #757575;
    border-radius: 34px;
    color: #b4afaf;
    opacity: 1;
    width: 85%;
    text-align: left;
}
.desktopFan{
    display: block;
}
.mobileFan{
    display: none;
}

@media only screen and (max-width: 600px) {
    
    .nav-pills .NavColorFan, .nav-pills .show>.NavColorFan {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
    .nav-pills .NavColorFan.active, .nav-pills .show>.NavColorFan {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        
    }
    
    .mobileFan{
        display: block;
        width: 100%;
        margin-top: 15px;
    }
    .desktopFan{
        display: none;
    }

    .FanPromo{
        display: none;
    }

   .FanCreatePost{
        padding-left: 2px !important;
    }
    
    .CreateSm{
      font-size: small;
      padding: 0px auto;
        
    }

    .CreateInputFan{
        text-align: left;
        font-size: small;
        width: 67%;
    }

}


@media only screen and (max-width: 1400px) {
    
    .nav-pills .NavColorFan, .nav-pills .show>.NavColorFan {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .nav-pills .NavColorFan.active, .nav-pills .show>.NavColorFan {
        padding-left: 1rem;
        padding-right: 1rem;
        
    }

    .CreateSm{
        font-size: small;
        padding: 0px auto;
          
      }
  
      .CreateInputFan{
          text-align: left;
          font-size: small;
          width: 80%;
      }

}


/* Fan Home  */

.FanHome{
    background-color: #2C2C2C;
    border-radius: 5px;
    
}
.YourGroups{
    position: relative;
}

.IconFan{
    background-color: #b4afaf3d;
    width: 30px;
    height: 30px;
    font-size: 10px;
    border-radius: 50%;
}
.YoursImg{
    width: 21.8vw;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}


.ExploreBtn{
    border: none;
    background: transparent linear-gradient(98deg, #F9FF4A 0%, #FFAB3B 100%) 0% 0% no-repeat padding-box;
    border-radius:0px 0px 5px  5px;
    opacity: 1;
}
.ExploreBtn:hover{
    border: none;
    background: transparent linear-gradient(98deg, #ffcf4a 0%, #fff23b 100%) 0% 0% no-repeat padding-box;
    border-radius:0px 0px 5px  5px;
    opacity: 1;
}

.ExploreBtnMore{
    
    border-radius:0px 0px 5px  5px;
    opacity: 1;
}

.bottom-Fan {
    position: absolute;
    bottom: 55px;
    font-weight:500;
    left: 16px;
    color:white ;
  }

  .FanBg {
    position: absolute;
    bottom: 52px;
    font-weight:500;
    left: 12px;
    width: 21.5vw;
    height: 40px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.753));
  }

  @media only screen and (max-width: 1400px) {
    .FanBg {
        width: 20.66vw;
       
      }
      .MediaImg{
        width: 13.65vw ;
    }
    .MediaVideos{
        width: 13.65vw ;
    }
  
  }

  @media only screen and (max-width: 600px) {
    .FanBg {
        width: 20.66vw;
       
      }
      .MediaImg{
        width: 44.6% ;
    }
    .MediaVideos{
        width: 44.6% ;
    }
  
  }




.MediaBG{
    background: #212121 0% 0% no-repeat padding-box;
    border: 1px solid #525252;
    border-radius: 5px;
    opacity: 1;
    
}


@media only screen and (min-width: 1400.1px) {
    .MediaImg{
        width: 14.06vw ;
    }
  }



  .MembersListFan{
      width: 48.5%;
      background: transparent linear-gradient(103deg, #00DE7B 0%, #00AD8E 100%) 0% 0% no-repeat padding-box;
      border-radius: 10px;
      opacity: 1;
  }

  .MembersListFanAdmin{
    width: 48.5%;
    background: transparent linear-gradient(101deg, #F103F5 0%, #6F1FFD 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
  }


  .MembersListFanUser{
    width: 48.5%;
   
    border-radius: 10px;
    opacity: 1;
  }
.FaNMemBerList{
    text-align: left !important;
     background: transparent linear-gradient(101deg, #484849 0%, #484849 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;

}
  .MemImgStar{
      width: 20px;
      margin-right: 10px;
      height: 20px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid white;
}

.FanMemberScroll{
    max-height: 60vh;
    overflow-y: scroll;
}

.FanMemberScroll::-webkit-scrollbar {
    width: 0px;
  }


  .nav-pills .NavMember, .nav-pills .show>.NavMember {
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #212121;
}
.nav-pills .NavMember.active, .nav-pills .show>.NavMember {
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #212121;
    border-radius: 2px;
    font-weight: 600;
    border-bottom: 2px solid goldenrod;
    opacity: 1;
}


/* Messenger */
.MessengerBody{
    background-color: #212121;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    border-top:1px solid rgb(134, 134, 134, 0.829) ;
    border-left:1px solid rgb(134, 134, 134, 0.829) ;
    border-right:1px solid rgb(134, 134, 134, 0.829) ;

}



.PicMessenger{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.top-right-messenger {
    position: absolute;
    top: 16px;
    right: 16px;
    
  }
.messengerUser{
    font-size: smaller;
}



.MessengerText{
    max-height: 50vh;
    overflow-y: scroll;
}

.MessengerText::-webkit-scrollbar {
    width: 0px;
  }

.PicLeftMessage{
    width: 2.59rem;
    height: 2.59rem;
    object-fit: cover;
    border-radius: 10%;
    margin-right: 2px;
}

.textColMa{
    font: var(--unnamed-font-style-normal) normal medium 20px/30px var(--unnamed-font-family-poppins);
    text-align: left;
    font: normal normal medium 20px/30px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: transparent linear-gradient(290deg, #00A791 0%, #00E479 100%) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    /* width: 100%; */
    margin-left: 20px !important;

}

.textColMaR{
    font: var(--unnamed-font-style-normal) normal medium 20px/30px var(--unnamed-font-family-poppins);
    text-align: left;
    font: normal normal medium 20px/30px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: transparent linear-gradient(110deg, #FE00F4 0%, #5025FE 100%) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    /* width: 100%; */
    margin-left: 20px !important;

}

.MessengerText{
    background-color: #2C2C2C;
    border-left:1px solid rgb(134, 134, 134, 0.829) ;
    border-right:1px solid rgb(134, 134, 134, 0.829) ;
}


.timeTextMa{
    width: 7vw;
    position: relative;
}

.TexMessage{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: xx-small;
    text-align: end;
}

.IconMessageT{
    cursor: pointer;
}

.MessageWidth{
    width: 100%;
    border: 1px solid rgb(134, 134, 134, 0.829) ;
    background-color: #2C2C2C;
    border-radius: 30px;
    color: white;
    font-size: small;
}

@media only screen and (max-width: 1400px) {
    .textColMa{
        
        margin-left: 25px !important;
        
    }
    .MessageWidth{
        margin-left: 10px;
    }
    .TexMessage{
        
        font-size: 7.5px;
    }
    .textColMa{
        font-size: 13px;
    }
    
    .textColMaR{
       font-size: 13px;
       width: 90%;
    }
    .SendT{
        margin-right: 20px;
    }
  }

  .MessengerFooter{
    background-color: #212121;
    border-radius:  0px 0px 5px 5px;
    position: relative;
    justify-content: space-between;
    border-bottom:1px solid rgba(134, 134, 134, 0.829) ;
    border-left:1px solid rgb(134, 134, 134, 0.829) ;
    border-right:1px solid rgb(134, 134, 134, 0.829) ;
}




.CreatePost{
    background-color: #00DE7B;
    border: 1px solid ghostwhite;
}


.ModalXC .modal-content {
    background: #161617 0% 0% no-repeat padding-box;
    border: 2px solid #FFF700 !important;
    border-radius: 10px;
    opacity: 1;
}

.ModalPostC{
    border-bottom: 1px solid rgba(255, 255, 255, 0.438);
}

.PostTextM{
    background: #323232 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(10px);
    color: rgba(245, 245, 245, 0.699);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.PostNow{
    background: transparent linear-gradient(102deg, #EBE078 0%, #FFE418 20%, #FFE53C 53%, #D2A435 100%) 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 5px;
opacity: 1;
}

/* .ModalBGM{
    background-color: #000000c7;
} */

.ModalIcon{
    width: 137px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    border-radius: 0px 5px 0px 0px;
    object-fit: cover;
}




/* MessageGroup */
.MessageImgBody{
    position: relative;
    border-left:1px solid rgb(134, 134, 134, 0.829) ;
    border-right:1px solid rgb(134, 134, 134, 0.829) ;
}

.MessageImg{
    object-fit: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    margin: 0px;
    margin-left: -8px !important;
    border-left:1px solid rgb(134, 134, 134, 0.829) ;
    border-right:1px solid rgb(134, 134, 134, 0.829) ;
}

.ImgCenterText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@media only screen and (max-width: 1400px) {
    .MessageImg{
        width: 44vh;
    }
    .ImgCenterText {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
      }
}


@media only screen and (min-width: 1401px) {
    .MessageImg{
        width: 44.69vh;
    }
}

@media only screen and (max-width: 600px) {
    .MessageImg{
        width: 322px;
    }
}


.MXZNav{
    display: block;
    position: absolute;
    top: 8px;
    right: 16px;
    background: #fffefe;
    border: none !important;
    border-radius: 10px;
    overflow: visible ;
    display: block;
}


.DropModalW{
    position: relative;
}



.SelectFanDefault .btn-primary {
    background: transparent linear-gradient(107deg, #FAEC85 0%, #F9C02B 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: none !important;
    border-radius: 2px;
    color: black;
    opacity: 1;
    width: 100% ;
    text-align: justify;
}

.SelectFanDefault .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 16px;
}

.SelectFanDefault .dropdown-menu.show {
    display: block;
    background: transparent linear-gradient(107deg, #FAEC85 0%, #F9C02B 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    padding-top: 5px;
    border: 1px solid ;
    border-radius: 0px 0px 5px 5px;
}


.ShahrukhFan .btn-primary {
   background: transparent linear-gradient(101deg, #F103F5 0%, #6F1FFD 100%) 0% 0% no-repeat padding-box;
   box-shadow: 0px 3px 6px #00000029;
   border: none !important;
   padding-right: 12vw;
   color: black;
   opacity: 1;
   width: 100% ;
   text-align: justify;
}

.ShahrukhFan .dropdown-toggle::after {
   position: absolute;
   top: 15px;
   right: 16px;
}

.ShahrukhFan .dropdown-menu.show {
   display: block;
   background: transparent linear-gradient(101deg, #F103F5 0%, #6F1FFD 100%) 0% 0% no-repeat padding-box;
   width: 100%;
   padding-top: 5px;
   border: 1px solid ;
   border-radius: 0px 0px 5px 5px;
}


.SalmanFan .btn-primary {
    background: transparent linear-gradient(103deg, #00DE7B 0%, #00AD8E 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding-right: 12vw;
    border: none !important;
    border-radius: 2px;
    color: black;
    opacity: 1;
    width: 100% ;
    text-align: justify;
}

.SalmanFan .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 16px;
}

.SalmanFan .dropdown-menu.show {
    display: block;
     background: transparent linear-gradient(103deg, #00DE7B 0%, #00AD8E 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    padding-top: 5px;
    border: 1px solid ;
    border-radius: 0px 0px 5px 5px;
}






/* .PositionTabX{
    position: relative;
}
.DesktopViewX{
    position: absolute;
    top: 15px;
    right: 12px;
    display: block !important;
} */

.PostTextMs{
    border: 1px solid #FFF700;
    border-radius: 5px;
    color: #FFF700;
    opacity: 1;
}
.PostTextMs1{
    background: transparent linear-gradient(129deg, #EBE078 0%, #FFE418 20%, #FFE53C 53%, #D2A435 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
}
.XCsText{
    font-size: small;
}

.ConMBOdy{
    background: #161617 0% 0% no-repeat padding-box;
    border: 2px solid #FFF700;
    border-radius: 10px;
    opacity: 1;
}

.AzcV .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}