.timeBg {
  background: linear-gradient(
    360deg,
    rgba(241, 168, 23, 0.73) 0%,
    rgba(245, 230, 125, 0.73) 29.69%,
    rgba(252, 183, 6, 0.73) 64.58%,
    rgba(223, 198, 92, 0.73) 100%
  ) !important;
  backdrop-filter: blur(15px);
  border-radius: 20px;
}

.fontBold {
  font-weight: 1000 !;
}
